@font-face {
	font-family: "Catfiles";
	src: url("../__fonts/CatfilesRegular.woff2") format("woff2"),
		url("../__fonts/CatfilesRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cat Song";
	src: url("../__fonts/CatSong.woff2") format("woff2"),
		url("../__fonts/CatSong.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
